/* heading  */
.img_back {
  background-image: url("./images/about/prague-g439d6a14f_1920.jpg");
  background-size: 100vw 100vh;
  min-height: 100vh;
  color: white;
  position: relative;
}
.img_text {
  padding: 0%;
  width: 100%;
  min-height: 100vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#abtUs {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 80px;
  margin-bottom: 50px;
}
#abtus_para {
  text-align: center;
  font-size: 25px;
}
.who-a-w {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  padding: 10px;
  min-height: 100vh;
}
#Wh_we {
  font-weight: bold;
  font-size: 40px;
  margin: 5%;
}
.section1 {
  margin: 20px;
}
.wh_we_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5%;
  height: 350px;
  width: 600px;
  position: relative;
}
#wh_we_para {
  font-size: 25px;
  margin: 25px;
}
.section2 {
  display: flex;
  justify-content: space-between;
}
#wh_we_para1 {
  font-size: 25px;
  margin: 20px;
}
.wh_we_do_img {
  display: block;
  margin-left: 0px;
  margin-right: auto;
  height: 100vh;
  width: 600px;
  position: relative;
}
.block1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2%;
  /* align-items: center; */
}
.back {
  /* background-image: url("./images/about/backgro.jpg"); */
  background-color: #c9bb9a;
  height: 100vh;
}
.branches {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5%;
}
.branch {
  width: 30%;
  margin: 20px;
}
.branch-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #c9bb9a;
  border-radius: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
}
.branch-phone {
  background: #4f4a40;
  padding: 10px;
  color: white;
  border-radius: 5px;
  margin-top: -8px;
  display: flex;
  justify-content: center;
}
.size_of_svg {
  width: 150px;
  height: 150px;
  color: #4f4a40;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 30%;
  margin: 10px;
  padding: 20px;
}

.card-phone-number {
  background: #4f4a40;
  padding: 8px;
  color: white;
  width: 100%;
}

.card:hover {
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.5);
}

.container {
  padding: 2px 5px;
  text-align: center;
  font-weight: bold;
}
