/* heading  */
.img_back {
    background-image: url("./images/about/prague-g439d6a14f_1920.jpg");
    background-size: 100vw 100vh;
    height: 550px;
    color: white;
    position: relative;
  }
  .img_text {
    padding: 0%;
    width: 100%;
    height: 550px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #abtUs {
    position: absolute;
    top: 20%;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 70px;
  }
  #abtus_para {
    text-align: center;
    font-size: 25px;
  }
  .who-a-w{
    display: flex;
    margin: 20px;
    justify-content: space-between;
    padding: 10px;

  }
  #Wh_we {
    font-weight: bold;
    font-size: 25px;
    padding: 7px;
  }
.section1{
    margin:20px;
}
.wh_we_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%;
    height: 350px;
    width: 600px;
    position: relative;
  }
  #wh_we_para {
    text-align: center;
    font-size: 25px;
    margin: 25px;
  }
  .section2{
    display: flex;
    justify-content: space-between;
    
  }
 #wh_we_para1{
    text-align:center;
    font-size: 25px;
    margin: 20px;

 }
.wh_we_do_img {
    display: block;
    margin-left: 0px;
    margin-right: auto;
    height: 700px;
    width: 600px;
    position: relative;
  }
  .block1{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
  }
  .back{
    background-image: url("./images/about/backgro.jpg");
    
  }
  .branches{
    margin:40px;
  }
  .branches_content{
    display:grid;
    grid-template-columns: 20vw 20vw 20vw 20vW;
    grid-template-rows: 1fr 1fr;
    gap: 50px;

  }
  .size_of_svg{ 
    width: 150px;
    height: 150px;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width:55%;
    margin: 50px;
    padding: 20px;
  }
  
  .card:hover {
    box-shadow: 0 8px 20px 0 rgba(0,0,0,0.5);
  }
  
  .container {
    padding: 2px 5px;
    text-align: center;
    font-weight: bold;
  }