@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap");
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Regular.otf");
}
/* heading  */
* {
  font-family: Inter;
}

.heading {
  background-image: linear-gradient(
      to top,
      rgba(67, 69, 77, 0.52),
      rgba(34, 33, 34, 0.73)
    ),
    url("../images/home/headingImg.jpg");
  background-size: 100vw 100vh;
  height: 100vh;
  color: white;
  position: relative;
}
.darkBg {
  padding: 0%;
  width: 100%;
  height: 100vh;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.heading-logo {
  width: 450px;
  margin-top: 100px;
  /* background-color: rgba(247, 245, 245, 0.63);
  padding: 30px; */
}
#tagLine {
  position: relative;
  margin-top: 3%;
  text-align: center;
  font-size: 20pt;
  font-family: Inter;
}

.heading box-icon {
  size: 102px;
}
.search-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 15pt;
  background: #81645c8b;
  color: white;
  height: 50px;
  width: 400px;
  margin-top: 5%;
  text-align: center;
  gap: 10%;
  border: 3px solid #fff6f6;
  border-radius: 30px;
  position: relative;
  font-family: Inter;
}
/* bottom navigation  */
.navigation {
  width: 100%;
  height: 70px;
  background-color: #3e2a24;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Inter;
}
.navigation a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}
.activeNavSelect {
  background-color: #884e3c;
}
.navSelect {
  padding-inline: 40px;
  height: 70px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navSelect:hover {
  background-color: #673b2d;
}
.navSelect2 {
  transition: 100ms;
}
.navSelect3 {
  transition: 200ms;
}
.navSelect4 {
  transition: 300ms;
}
.navSelect5 {
  transition: 400ms;
}
/* bottom section  */
.bottom-part {
  background-image: url("/images/home/oldbookpaper.jpg");
  background-size: 100% 100%;
}
/* services  */
.services {
  height: 100vh;
  padding-top: 80px;
  padding-left: 7%;
  padding-right: 5%;
}
.services h1 {
  padding-left: 20px;
  font-size: 35pt;
}
.services a {
  text-decoration: none;
}
.serviceContent {
  display: grid;
  grid-template-columns: 20vw 20vw 20vw;
  grid-template-rows: 30vh 30vh;
  gap: 50px;
  margin-left: 10%;
  margin-top: 20px;
}
.serviceContent a {
  width: 100%;
  height: 75%;
  background-color: transparent;
  padding-top: 20%;
  padding-bottom: 5%;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  border-right: 2px solid rgba(0, 0, 0, 0.2);
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
}
.serviceContent a {
  overflow: hidden;
  transition: 0.3s;
}
.serviceContent a:hover {
  transform: translateY(-20px);
}
.serviceContent a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  transform: skew(45deg) translate(450px);
  transition: 0.5s;
}
.serviceContent a:hover::before {
  transform: skew(45deg) translate(-200px);
}
.service {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* padding: 5px; */
}
.service p {
  width: 100%;
  color: rgb(0, 0, 0);
  font-size: 20pt;
  font-weight: bold;
  text-align: center;
}
/* about us  */

.aboutus-section {
  width: 100%;
  min-height: 100vh;
  background-color: #beb498aa;
}
.aboutus {
  font-family: "Poppins", sans-serif;
  display: block;
  width: 80%;
  margin: auto;
  padding-top: 100px;
}
.about-content-section {
  float: left;
  width: 55%;
}
.about-image-content {
  float: right;
  width: 40%;
}
.about-image-content img {
  padding-top: 10%;
  width: 100%;
  height: auto;
}
.about-content-section .about-title {
  text-transform: uppercase;
  font-size: 1.5em;
}
.about-content-section .about-content h3 {
  margin-top: 20px;
  color: #5d5d5d;
  font-size: 1.3em;
}
.about-content-section .about-content p {
  margin-top: 10px;
  font-family: sans-serif;
  font-size: 1.2em;
  line-height: 1.5;
}
.aboutbtn {
  margin-top: 30px;
  padding: 12px 40px;
  background-color: #4f4a40;
  letter-spacing: 1.5px;
  font-size: 17pt;
  color: white;
  padding: 12px 30px 12px 30px;
  border: 1px solid #4f4a40;
  cursor: pointer;
}

.aboutbtn:hover {
  background-color: #673b2d;
}
.about-content-section .social {
  margin: 40px 10px;
}
.about-content-section .social a {
  text-decoration: none;
}
.about-content-section .social box-icon {
  padding: 0px 10px;
}
/* contact us  */
.contact-section {
  min-height: 100vh;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: #8c8062ba;
}
.contact-content-section {
  position: absolute;
  padding: 70px 0;

  padding-left: 10%;
  width: 80%;
  height: 100%;
}

.contact-content-section .contact-content-title {
  font-size: 1.25em;
}
.contact-content {
  width: 80%;
  position: relative;
  padding-top: 30px;
}
.contact-content form {
  display: flex;
  gap: 7%;
  flex-wrap: wrap;
}
.contact-content .input-box {
  display: flex;
  position: relative;
  margin: 20px 0 35px 0;
}
.contact-content .w50 {
  width: 40%;
}
.contact-content .w100 {
  width: 60%;
}
.contact-content .input-box input,
textarea {
  width: 100% !important;
  padding: 5px 0;
  font-size: 1.2em;
  font-weight: 300;
  color: #333;
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0);
  outline: none;
  resize: none;
  background-color: transparent;
}
.contact-content .input-box textarea {
  min-height: 120px;
}
.contact-content .input-box span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 1.2em;
  font-weight: 300;
  color: rgb(55, 52, 52);
  transition: 0.5s;
  pointer-events: none;
}
.contact-content .input-box input:focus ~ span,
textarea:focus ~ span,
input:valid ~ span,
textarea:valid ~ span {
  transform: translateY(-20px);
  font-size: 0.9em;
  font-weight: 400;
  letter-spacing: 1px;
  color: #f10d59;
}
.contact-content .input-box input[type="submit"] {
  position: relative;
  cursor: pointer;
  color: #fff;
  border: none;
  max-width: 200px;
  padding: 12px;
  background-color: #3e2a24;
}
.contact-content .input-box input[type="submit"]:hover {
  background-color: #673b2d;
}
.contact-image-section img {
  position: absolute;
  right: 10%;
  bottom: 5%;
  width: 15%;
  transition: 0.3s;
}
.contact-image-section img:hover {
  width: 20%;
  right: 8%;
}
footer {
  margin-top: 0;
}
