body {
  background-image: url();
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.container {
  border: 1px solid red;
}

.f_name {
  border-radius: 5px;
  border-color: rgb(231, 231, 236);
  width: 40%;
  margin-top: 5px;
}
.f_pwd {
  border-radius: 5px;
  border-color: rgb(231, 231, 236);
  width: 40%;
  margin-top: 5px;
}
.us {
  margin-top: 10px;
  font-family: sans-serif;
}
