h1 {
  font-size: 500%;
  color: #ffffff;
  padding: 10% 8%;
  font-family: sans-serif;
}
p {
  color: #ffffff;
  font-family: sans-serif;
  margin-left: 95px;
  font-size: 30px;
}
h2 {
  margin-top: 10%;
  padding-bottom: 10px;
  text-align: center;
  color: rgb(33, 31, 31);
}
.logo_n {
  margin-top: 1%;
  width: 50%;
  height: 30%;
  margin-left: 30%;
}
body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/login/sigup.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
}
.container {
  float: right;
  background-color: rgba(254, 248, 248, 0.978);
  width: 400px;
  height: 90vh;
  padding: 50px;
}

.f_name {
  border-radius: 6px;
  border-color: rgb(231, 231, 236);
  background-color: #f7eac7;
  width: 100%;
  height: 28px;
  margin-top: 5px;
  margin-bottom: 3%;
  border: 1px solid black;
  padding: 5px;
}
.f_pwd {
  border-radius: 6px;
  border-color: rgb(231, 231, 236);
  background-color: #f7eac7;
  width: 100%;
  height: 28px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid black;
  padding: 5px;
}
.us {
  font-family: sans-serif;
}
.bu_t {
  text-decoration: none;
  border: 1px solid #1569f7;
  padding: 10px;
  border-radius: 4px;
  color: #1569f7;
  width: 80px;
  font-size: 14px;
  text-align: center;
  transition-duration: 400ms;
}
.a_a {
  text-decoration: none;
  border: 1px solid #1569f7;
  padding: 10px;
  border-radius: 4px;
  background: #1569f7;
  color: aliceblue;
  width: 80%;
  font-size: 14px;
  text-align: center;
  transition-duration: 400ms;
  margin-right: 10px;
}
.a_a:hover {
  background-color: #1569f7;
  color: white;
  transition-duration: 400ms;
}
.dfe {
  text-decoration: none;
  color: #ffffff;
  cursor: context-menu;
}
.btnn_f {
  text-decoration: none;
  border: 1px solid #948451;
  font-weight: bold;
  border-radius: 6px;
  background: #948451;
  color: aliceblue;
  padding: 8px;
  width: 48%;
  transition-duration: 400ms;
  margin-left: 25%;
  margin-top: 4%;
  cursor: pointer;
}
.btnn_f:hover {
  transition-duration: 400ms;
  background-color: #5e5333;
}
.sizn_f {
  border: 1px solid #5e433a;
  border-radius: 6px;
  margin-bottom: 8%;
  background: #5e433a;
  color: #ffffff;
  padding: 8px;
  width: 103%;
  transition-duration: 400ms;
  font-weight: bold;
  margin-top: 5%;
}
.sizn_f:hover {
  color: #ffffff;
  background-color: #452e27;
}
.dek {
  width: 100%;
}
hr {
  width: 102%;
}
